---
import { Font } from "astro:assets";
import '../styles/global.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<Font cssVariable="--font-ubuntu" preload></Font>
	</head>
	<body>
		<h1 class="textpreset1">Hello</h1>
	</body>
</html>

<style lang="scss">
	body {
		font-family: var(--font-ubuntu);
	}

	.textpreset1 {
		@include textpreset1;
	}

	.textpreset2 {
		@include textpreset2;
	}

	.textpreset3 {
		@include textpreset3;
	}

	.textpreset4 {
		@include textpreset4;
	}

	.textpreset4meidum {
		@include textpreset4medium;
	}

	.textpreset4regular {
		@include textpreset4regular;
	}

	.textpreset5 {
		@include textpreset5;
	}

</style>
