---
import { Font } from "astro:assets";
import { getImage } from "astro:assets";
import "../styles/global.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
    <Font
      cssVariable="--font-ubuntu"
      preload
    />
  </head>
  <body>
    <!--
    <button class="btn btn--secondary">Next Step</button>
    <button class="btn">Go Back</button> -->
    <section class="form-component">
      <div class="form-component__container">
        <div class="sidebar">
          <ul class="progress-steps">
            <li
              class="progress-steps__item"
              id="one"
            >
              <div class="step-number active">1</div>
              <div class="step-info">
                <p class="step-number-text">Step 1</p>
                <p class="step-description">Your Info</p>
              </div>
            </li>
            <li
              class="progress-steps__item"
              id="two"
            >
              <div class="step-number">2</div>
              <div class="step-info">
                <p class="step-number-text">Step 2</p>
                <p class="step-description">Select Plan</p>
              </div>
            </li>
            <li
              class="progress-steps__item"
              id="three"
            >
              <div class="step-number">3</div>
              <div class="step-info">
                <p class="step-number-text">Step 3</p>
                <p class="step-description">Add-Ons</p>
              </div>
            </li>
            <li
              class="progress-steps__item"
              id="four"
            >
              <div class="step-number">4</div>
              <div class="step-info">
                <p class="step-number-text">Step 4</p>
                <p class="step-description">Summary</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="form-container">
          <form class="multi-step-form">
            <header
              class="form-header"
              id="one"
            >
              <h2 class="form-header__title textpreset2">Personal info</h2>
              <p class="form-header__text textpreset3">
                Please provide your name, email address, and phone number.
              </p>
            </header>
            <header
              class="form-header hidden"
              id="two"
            >
              <h2 class="form-header__title textpreset2">Select your plan</h2>
              <p class="form-header__text textpreset3">
                You have the option of monthly or yearly billing.
              </p>
            </header>
            <header
              class="form-header hidden"
              id="three"
            >
              <h2 class="form-header__title textpreset2">Pick add-ons</h2>
              <p class="form-header__text textpreset3">
                Add-ons help enhance your gaming experience.
              </p>
            </header>
            <header
              class="form-header hidden"
              id="four"
            >
              <h2 class="form-header__title textpreset2">Finishing up</h2>
              <p class="form-header__text textpreset3">
                Double-check everything looks OK before confirming.
              </p>
            </header>
            <section
              class="form-section"
              id="one"
            >
              <p class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="fullname"
                  placeholder="e.g. Stephen King"
                  autocomplete="name"
                  required
                />
                <span class="error-message textpreset4"></span>
              </p>
              <p class="form-group">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="e.g. stephenking@lorem.com"
                  autocomplete="email"
                  required
                />
                <span class="error-message textpreset4"></span>
              </p>
              <p class="form-group">
                <label for="phone">Phone Number</label>
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  placeholder="e.g. +1 234 567 890"
                  autocomplete="tel"
                  required
                />
                <span class="error-message textpreset4"></span>
              </p>
            </section>
            <section
              class="form-section hidden"
              id="two"
            >
              <fieldset class="form-group">
                <input
                  id="plan-type-1"
                  name="plan-type"
                  type="radio"
                  value="Arcade"
                  checked
                />
                <label
                  for="plan-type-1"
                  class="radio-label"
                >
                  <span class="plan__icon">
                    <img
                      src="/src/assets/images/icon-arcade.svg"
                      alt="icon for the arcade plan"
                    />
                  </span>
                  <span class="plan__text">
                    <p class="plan__title">Arcade</p>
                    <p class="plan__price">$9/mo</p>
                  </span>
                  <p class="annual-freebie textpreset5 hidden">2 months free</p>
                </label>

                <input
                  id="plan-type-2"
                  name="plan-type"
                  type="radio"
                  value="Advanced"
                />
                <label
                  for="plan-type-2"
                  class="radio-label"
                >
                  <span class="plan__icon">
                    <img
                      src="/src/assets/images/icon-advanced.svg"
                      alt="icon for the advanced plan"
                    />
                  </span>
                  <span class="plan__text">
                    <p class="plan__title">Advanced</p>
                    <p class="plan__price">$12/mo</p>
                  </span>
                  <p class="annual-freebie textpreset5 hidden">2 months free</p>
                </label>
                <input
                  id="plan-type-3"
                  name="plan-type"
                  type="radio"
                  value="Pro"
                />
                <label
                  for="plan-type-3"
                  class="radio-label"
                >
                  <span class="plan__icon">
                    <img
                      src="/src/assets/images/icon-pro.svg"
                      alt="icon for the pro plan"
                    />
                  </span>
                  <span class="plan__text">
                    <p class="plan__title">Pro</p>
                    <p class="plan__price">$15/mo</p>
                  </span>
                  <p class="annual-freebie textpreset5 hidden">2 months free</p>
                </label>
              </fieldset>
              <div class="form-group toggle-group">
                <p class="left-label">Monthly</p>
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider"></span>
                </label>
                <p class="right-label">Yearly</p>
              </div>
            </section>
            <section
              class="form-section hidden"
              id="three"
            >
              <div class="form-group checkbox">
                <label for="add-on-1">
                  <input
                    id="add-on-1"
                    type="checkbox"
                    name="add-on-online-service"
                    value="include"
                  />
                  <div class="checkbox__content">
                    <div class="checkbox__text">
                      <p class="textpreset3medium">Online Service</p>
                      <p class="textpreset4regular">
                        Access to multiplayer games
                      </p>
                    </div>
                    <p class="checkbox__price textpreset4regular">+$1/mo</p>
                  </div>
                </label>
              </div>
              <div class="form-group checkbox">
                <label for="add-on-2">
                  <input
                    id="add-on-2"
                    type="checkbox"
                    name="add-on-larger-storage"
                    value="include"
                  />
                  <div class="checkbox__content">
                    <div class="checkbox__text">
                      <p class="textpreset3medium">Larger Storage</p>
                      <p class="textpreset4regular">Extra 1TB of cloud save</p>
                    </div>
                    <p class="checkbox__price textpreset4regular">+$2/mo</p>
                  </div>
                </label>
              </div>
              <div class="form-group checkbox">
                <label for="add-on-3">
                  <input
                    id="add-on-3"
                    type="checkbox"
                    name="add-on-customizable-profile"
                    value="include"
                  />
                  <div class="checkbox__content">
                    <div class="checkbox__text">
                      <p class="textpreset3medium">Customizable Profile</p>
                      <p class="textpreset4regular">
                        Custom theme on your profile
                      </p>
                    </div>
                    <p class="checkbox__price textpreset4regular">+$2/mo</p>
                  </div>
                </label>
              </div>
            </section>
            <section
              class="form-section hidden"
              id="four"
            >
              <div class="plan-details">
                <div class="form-group">
                  <div class="plan">
                    <p
                      id="summaryPlan"
                      class="textpreset4medium blue-text"
                    >
                      Arcade (Monthly)
                    </p>
                    <button
                      type="button"
                      class="btn textpreset4regular"
                      id="changePlanBtn"
                    >
                      Change
                    </button>
                  </div>
                  <p
                    id="summaryPlanPrice"
                    class="textpreset4"
                  >
                    $9/mo
                  </p>
                </div>
                <div class="divider"></div>
                <div
                  class="form-group textpreset4regular"
                  id="summary-add-on-1"
                >
                  <p class="grey-text">Online service</p>
                  <p class="blue-text">+$1/mo</p>
                </div>
                <div
                  class="form-group textpreset4regular"
                  id="summary-add-on-2"
                >
                  <p class="grey-text">Larger storage</p>
                  <p class="blue-text">+$2/mo</p>
                </div>
                <div
                  class="form-group textpreset4regular"
                  id="summary-add-on-3"
                >
                  <p class="grey-text">Customizable profile</p>
                  <p class="blue-text">+$2/mo</p>
                </div>
              </div>
              <div
                class="form-group textpreset4regular"
                id="total"
              >
                <p class="grey-text">Total (per month)</p>
                <p class="total-amount purple-text">+$12/mo</p>
              </div>
            </section>
            <section
              class="form-section hidden"
              id="success"
            >
              <div class="icon">
                <img
                  src="/src/assets//images/icon-thank-you.svg"
                  alt="checkmark"
                />
              </div>
              <div class="content">
                <h2 class="textpreset2">Thank you!</h2>
                <p class="textpreset3 grey-text">
                  Thanks for confirming your subscription! We hope you have fun
                  using our platform. If you ever need support, please feel free
                  to email us at support@loremgaming.com.
                </p>
              </div>
            </section>
            <footer class="form-footer">
              <button
                class="btn hidden"
                id="prevBtn"
                type="button"
              >
                Go Back
              </button>
              <button
                class="btn btn--primary"
                id="nextBtn"
                type="button"
              >
                Next Step
              </button>
              <button
                class="btn btn--secondary hidden"
                id="confirmBtn"
                type="submit"
              >
                Confirm
              </button>
            </footer>
          </form>
        </div>
      </div>
      <script>
        import "../scripts/formController.js";
      </script>
    </section>
  </body>
</html>

<style lang="scss">
  body {
    align-items: center;
    background-color: $colors-blue-50;
    display: flex;
    flex-direction: column;
    font-family: var(--font-ubuntu);
    min-height: 100vh;
  }

  .sidebar {
    background-image: url("/src/assets/images/bg-sidebar-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $colors-white;
    display: flex;
    justify-content: center;
    min-height: 172px;
    padding-top: $spacing-md;

    .progress-steps {
      display: flex;
      gap: $spacing-xs;
      list-style-type: none;
      padding: 0;
    }

    .step-number {
      align-items: center;
      border: 1px solid $colors-white;
      border-radius: 100vh;
      display: flex;
      height: 2rem;
      justify-content: center;
      width: 2rem;

      &.active {
        background-color: $colors-blue-200;
        border-color: transparent;
        color: $colors-blue-950;
      }
    }

    .step-number,
    .step-description {
      @include textpreset4;
    }

    .step-number-text {
      @include textpreset5;
      color: $colors-blue-300;
      display: none;
    }

    .step-description {
      display: none;
    }
  }

  .form-container {
    background-color: $colors-white;
    border-radius: 10px;
    box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: -75px $spacing-xs 0;
    min-height: 400px;
    padding: $spacing-md $spacing-sm;
    width: stretch;
  }

  .form-header {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxs;
    &__text {
      color: $colors-grey-500;
      max-width: 45ch;
    }
  }

  .multi-step-form {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: stretch;

    .form-group:has(input[type="text"]) > label,
    .form-group:has(input[type="email"]) > label,
    .form-group:has(input[type="tel"]) > label {
      @include textpreset5;
      color: $colors-blue-950;
      display: block;
      margin-bottom: $spacing-xxs;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      @include textpreset4medium;
      border: 1px solid $colors-purple-200;
      border-radius: 4px;
      color: $colors-blue-950;
      padding: $spacing-xxs $spacing-xs;
      width: stretch;

      &::placeholder {
        color: $colors-grey-500;
      }

      &:focus-visible {
        outline-color: $colors-purple-600;
      }

      &:hover {
        border-color: $colors-purple-400;
      }
    }

    input[type="radio"] {
      appearance: none;
      display: none;
      margin: 0;
      padding: 0;
    }

    fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      gap: $spacing-xxs;
      padding: 0;
    }

    fieldset > label {
      @include textpreset3medium;
      align-items: center;
      border: 1px solid $colors-purple-200;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      gap: $spacing-xs;
      margin: 0;
      padding: $spacing-xs;
      .plan__price {
        @include textpreset4regular;
        color: $colors-grey-500;
      }

      &:hover {
        border-color: $colors-purple-400;
      }

      .annual-freebie {
        display: block;
        margin-left: auto;
        &.hidden {
          display: none;
        }
      }
    }

    fieldset > input[type="radio"]:checked + label {
      background: $colors-blue-50;
      border-color: $colors-purple-600;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 38px;
      height: 20px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      border-radius: 10px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $colors-blue-950;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    .slider:before {
      border-radius: 10px;
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: $colors-white;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    input[type="checkbox"]:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }

    .toggle-group {
      align-items: center;
      background: $colors-blue-50;
      border-radius: 8px;
      display: flex;
      gap: $spacing-sm;
      justify-content: center;
      min-height: 3rem;
      width: stretch;

      .left-label,
      .right-label {
        @include textpreset4medium;
        transition: color 0.3s 0.1s;
      }

      &:has(input[type="checkbox"]:checked) {
        .left-label {
          color: $colors-grey-500;
        }
        .right-label {
          color: $colors-blue-950;
        }
      }

      &:not(:has(input[type="checkbox"]:checked)) {
        .left-label {
          color: $colors-blue-950;
        }
        .right-label {
          color: $colors-grey-500;
        }
      }
    }

    .checkbox {
      accent-color: $colors-purple-600;
      label {
        align-items: center;
        border: 1px solid $colors-purple-200;
        border-radius: 8px;
        display: flex;
        gap: $spacing-sm;
        padding: $spacing-xs $spacing-sm;
        &:hover {
          border-color: $colors-purple-400;
          cursor: pointer;
        }
      }

      &:has(input[type="checkbox"]:checked) {
        label {
          background: $colors-blue-50;
          border-color: $colors-purple-600;
        }
      }

      input[type="checkbox"] {
        min-height: 20px;
        min-width: 20px;
      }
      &__content {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-between;
      }
      &__text {
        .textpreset4regular {
          color: $colors-grey-500;
          margin-top: $spacing-xxs;
        }
      }

      &__price {
        color: $colors-purple-600;
      }
    }

    .form-group:has(.error-message.active) {
      input {
        border-color: $colors-red-500;
      }
    }

    .form-footer {
      align-self: flex-end;
      flex: 1;
      justify-content: space-between;
      width: stretch;

      #nextBtn {
        margin-left: auto;
      }
    }

    .form-group {
      position: relative;
    }

    .error-message {
      display: none;
      &.active {
        color: $colors-red-500;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .form-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $spacing-xs;

    &#two {
      gap: $spacing-sm;
    }

    &#four {
      .form-group {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .plan-details {
        background: $colors-blue-50;
        border-radius: 8px;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: $spacing-xs;
        padding: $spacing-xs;
      }
      .divider {
        height: 1px;
        background: $colors-grey-500;
        opacity: 0.2;
        width: 100%;
      }
      .btn {
        padding: 0;
      }

      #total {
        padding: calc($spacing-lg - $spacing-xs) 1rem 0; // total space I want less the row gap
      }
      .total-amount {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2;
      }

      #summary-add-on-1.hidden,
      #summary-add-on-2.hidden,
      #summary-add-on-3.hidden,
      .divider.hidden {
        display: none;
      }
    }

    &#success {
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
      &.hidden {
        display: none;
      }
      h2 {
        margin-bottom: $spacing-xxs;
      }

      .icon {
        height: 56px;
        width: 56px;
      }
    }
  }

  .form-header.hidden,
  .form-section.hidden,
  .btn.hidden {
    display: none;
  }

  .textpreset1 {
    @include textpreset1;
  }

  .textpreset2 {
    @include textpreset2;
  }

  .textpreset3 {
    @include textpreset3;
  }

  .textpreset3medium {
    @include textpreset3medium;
  }

  .textpreset4 {
    @include textpreset4;
  }

  .textpreset4medium {
    @include textpreset4medium;
  }

  .textpreset4regular {
    @include textpreset4regular;
  }

  .textpreset5 {
    @include textpreset5;
  }

  .blue-text {
    color: $colors-blue-950;
  }

  .purple-text {
    color: $colors-purple-600;
  }

  .grey-text {
    color: $colors-grey-500;
  }

  @media (min-width: 0rem) and (max-width: 47.975rem) {
    .multi-step-form {
      width: stretch;
      .form-footer {
        background-color: $colors-white;
        bottom: 0;
        box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.1);
        display: flex;
        padding: $spacing-xs;
        position: fixed;
        right: 0;
      }
    }
  }

  @media (min-width: 48rem) {
    body {
      justify-content: center;
    }

    .form-component {
      justify-content: center;
      display: flex;
      &__container {
        background-color: $colors-white;
        border-radius: 16px;
        box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        padding: $spacing-xs;
        padding-right: 5.25rem;
        gap: clamp(2.625rem, -0.375rem + 6.25vw, 5.25rem);
      }
    }

    .form-container {
      background-color: transparent;
      margin: 0;
      box-shadow: none;
    }

    .form-header {
      &__title {
        @include textpreset1;
      }
    }

    .multi-step-form {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
      height: stretch;

      .form-group:has(input[type="text"]) > label,
      .form-group:has(input[type="email"]) > label,
      .form-group:has(input[type="tel"]) > label {
        @include textpreset4regular;
      }

      input:not([type="radio"]) {
        @include textpreset3medium;
        min-height: 3rem;
      }

      .form-footer {
        align-items: flex-end;
        display: flex;
        flex: 1;
        justify-content: space-between;
      }
    }

    .sidebar {
      justify-content: flex-start;
      background-image: url("/src/assets/images/bg-sidebar-desktop.svg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 1rem;
      display: flex;
      min-width: clamp(12.875rem, 8.0179rem + 10.119vw, 17.125rem);
      min-height: 568px;
      padding: $spacing-lg clamp($spacing-sm, 0.8571rem + 2.381vw, $spacing-lg);

      .progress-steps {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
        list-style-type: none;
        padding: 0;
        text-transform: uppercase;

        &__item {
          align-items: center;
          display: flex;
          gap: $spacing-xs;
        }
      }

      .step-number-text {
        display: block;
      }

      .step-description {
        display: block;
      }
    }

    .form-section {
      gap: $spacing-sm;
    }

    .form-section#three {
      gap: $spacing-xs;
    }
  }

  @media (min-width: 64rem) {
    .multi-step-form {
      gap: $spacing-lg;
      fieldset {
        align-items: stretch;
        flex-direction: row;
        gap: $spacing-xs;
        justify-content: space-between;
        & > label {
          align-items: flex-start;
          flex-direction: column;
          flex: 1;
          gap: 0;
          justify-content: space-between;
          min-height: 10rem;
          .plan__text {
            margin-top: auto;
          }
          .annual-freebie {
            margin: 0;
            margin-top: $spacing-xxs;
          }
        }
      }
    }
    .form-component {
      width: stretch;
      &__container {
        max-width: 940px;
        width: stretch;
      }
    }
    .form-header {
      &__text {
        max-width: 65ch;
        text-wrap: nowrap;
      }
    }
  }
</style>
