---
import { Font } from "astro:assets";
import { getImage } from "astro:assets";
import "../styles/global.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
    <Font
      cssVariable="--font-ubuntu"
      preload
    />
  </head>
  <body>
    <!--<button class="btn btn--primary">Next Step</button>
    <button class="btn btn--secondary">Next Step</button>
    <button class="btn">Go Back</button> -->
    <div class="sidebar">
      <ul class="progress-steps">
        <li class="progress-steps__item">
          <div class="step-number active">1</div>
          <div class="step-info">
            <p class="step-number-text">Step 1</p>
            <p class="step-description">Your Info</p>
          </div>
        </li>
        <li class="progress-steps__item">
          <div class="step-number">2</div>
          <div class="step-info">
            <p class="step-number-text">Step 2</p>
            <p class="step-description">Select Plan</p>
          </div>
        </li>
        <li class="progress-steps__item">
          <div class="step-number">3</div>
          <div class="step-info">
            <p class="step-number-text">Step 3</p>
            <p class="step-description">Add-Ons</p>
          </div>
        </li>
        <li class="progress-steps__item">
          <div class="step-number">4</div>
          <div class="step-info">
            <p class="step-number-text">Step 4</p>
            <p class="step-description">Summary</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>

<style lang="scss">
  body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-ubuntu);
  }

  .sidebar {
    background-image: url("/src/assets/images/bg-sidebar-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $colors-white;
    display: flex;
    justify-content: center;
    min-height: 172px;
    padding-top: $spacing-md;

    .progress-steps {
      display: flex;
      gap: $spacing-xs;
      list-style-type: none;
      padding: 0;
    }

    .step-number {
      align-items: center;
      border: 1px solid $colors-white;
      border-radius: 100vh;
      display: flex;
      height: 2rem;
      justify-content: center;
      width: 2rem;

      &.active {
        background-color: $colors-blue-200;
        border-color: transparent;
        color: $colors-blue-950;
      }
    }

    .step-number,
    .step-description {
      @include textpreset4;
    }

    .step-number-text {
      @include textpreset5;
      color: $colors-blue-300;
      display: none;
    }

    .step-description {
      display: none;
    }
  }

  .textpreset1 {
    @include textpreset1;
  }

  .textpreset2 {
    @include textpreset2;
  }

  .textpreset3 {
    @include textpreset3;
  }

  .textpreset4 {
    @include textpreset4;
  }

  .textpreset4meidum {
    @include textpreset4medium;
  }

  .textpreset4regular {
    @include textpreset4regular;
  }

  .textpreset5 {
    @include textpreset5;
  }

  @media (min-width: 48rem) {
    .sidebar {
      justify-content: flex-start;
      background-image: url("/src/assets/images/bg-sidebar-desktop.svg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 1rem;
      box-sizing: content-box;
      display: flex;
      flex-shrink: 0;
      min-height: 568px;
      padding: $spacing-lg clamp($spacing-sm, 0.8571rem + 2.381vw, $spacing-lg);

      .progress-steps {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
        list-style-type: none;
        padding: 0;
        text-transform: uppercase;

        &__item {
          align-items: center;
          display: flex;
          gap: $spacing-xs;
        }
      }

      .step-number-text {
        display: block;
      }

      .step-description {
        display: block;
      }
    }
  }
</style>
